[submodule "space-vim"]
	path = space-vim
	url = git@github.com:liuchengxu/space-vim.git
[submodule "dotbot"]
	path = dotbot
	url = git@github.com:anishathalye/dotbot.git
[submodule "i3blocks-contrib"]
	path = i3blocks-contrib
	url = git@github.com:vivien/i3blocks-contrib.git
[submodule "tpm"]
	path = tpm
	url = git@github.com:tmux-plugins/tpm.git
